<%- include('../partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('../partials/adminSidebar.ejs') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->

            <%- include('../partials/navbar.ejs') %>
                <!-- Navbar End -->


                <!-- Container -->
                <div class="container-fluid pt-4 px-4">
                    <div class="fw-bold mb-2 fs-3">Student Details :</div>
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="bg-light rounded p-4">
                                <!-- view start -->
                                <% if (locals.foundStudent) { %>
                                    <form class="row g-3">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src=<%=locals.foundStudent.studentPhoto%> alt="Image 1"
                                                class="img-fluid">
                                                <div class="fw-bold text-center mt-3">Student Photo</div>
                                            </div>
                                            <div class="col-md-4">
                                                <img src=<%=locals.foundStudent.studentSign %> alt="Image 2"
                                                class="img-fluid">
                                                <div class="fw-bold text-center mt-3">Student Sign</div>
                                            </div>
                                            <div class="col-md-4">
                                                <img src=<%=locals.foundStudent.paymentSS%> alt="Image 3"
                                                class="img-fluid">
                                                <div class="fw-bold text-center mt-3">Payment Screenshot</div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Student's Name</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.studentName%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Father's Name</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.fatherName%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Mother's Name</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.motherName%></textarea>
                                        </div>

                                        <hr>
                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Uni. Registration Number</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.uniRegNumber%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Uni. Roll Number</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.uniRollNumber%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">College Roll Number</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.collegeRollNumber%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Subject</label>
                                            <textarea rows="1" class="form-control" readonly><%= locals.foundStudent.subject%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Email</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.email%></textarea>
                                        </div>

                                        <hr>
                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Date of Birth</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.dOB%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Gender</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.gender%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Category</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.category%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Applicant Aadhar No</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.aadharNumber%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="" class="form-label fw-bold">Mobile Number</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.mobileNumber%></textarea>
                                        </div>

                                        <hr>
                                        <div class="col-md-8">
                                            <label for="" class="form-label fw-bold">Address</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.address%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">District</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.district%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Police Station</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.policeStation%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">State</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.state%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Pin Code</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.pinCode%></textarea>
                                        </div>

                                        <hr>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Last Exam Result</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.examResult%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Last Exam Obt. Marks /
                                                Grade</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.obtMarks%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Last Exam Full Marks /
                                                Grade</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.fullMarks%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Last Exam Obt Percentage</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.obtPercent%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Session</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.session%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Admission fee</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.admissionFee%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Payment ID</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.paymentId%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="" class="form-label fw-bold">Receipt No</label>
                                            <textarea rows="1" class="form-control"
                                                readonly><%= locals.foundStudent.receiptNo%></textarea>
                                        </div>
                                    </form>
                                    <% } %>

                                        <!-- view end -->

                            </div>

                            <a href="/bca-2-24-27-student-edit/<%= locals.foundStudent._id %>"
                                class="px-4 btn btn-warning w-md">Edit</a>
                        </div>

                    </div>
                </div>
                <!-- Sale & Revenue End -->


                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                Distributed By <a href="#">Digital India</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/chart/chart.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/waypoints/waypoints.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="../javascripts/main.js"></script>
        <script>
            const goBackBtn = document.querySelector('.goBackBtn')
            goBackBtn.addEventListener('click', () => {
                window.history.back()

            })
        </script>
        </body>

        </html>