<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <img class="p-2" src="/images/logomdcollege.png" alt="MD College" style="width: 100%;">
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="ms-3">
                <h6 class="mb-0">
                    <%= data.existingStudent?.userId%>
                </h6>
                <span>
                    <%= data.existingStudent?.studentName%>
                </span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="/bca-<%= data.existingStudent?.courseSession %>/dashboard"
                    class="nav-link <%= data.activeTabList === 'dashboard' ? 'active' : '' %>"><i
                        class="fa-solid fa-home me-2"></i>Dashboard</a>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle <%= data.activeTab === 'Part 1' ? 'active' : '' %>"
                    data-bs-toggle="dropdown"><i class="fa-solid fa-file-lines me-2"></i>Part 1</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/bca-1-<%= data.existingStudent?.courseSession %>/admForm"
                        class="dropdown-item <%= data.activeTabList === 'Part 1 Adm Form' ? 'active' : '' %>">Admission
                        Form</a>

                    <% const form=data.existingStudent.part1AdmForm; %>
                        <% if (form && form.isPaid) { %>
                            <a href="/bca-1-<%= data.existingStudent?.courseSession %>/admFormCopy"
                                class="dropdown-item <%= data.activeTabList === 'Part 1 Adm Form Copy' ? 'active' : '' %>">Admission
                                Form Copy</a>
                            <a href="/bca-1-<%= data.existingStudent?.courseSession %>/admReceipt"
                                class="dropdown-item <%= data.activeTabList === 'Part 1 Adm Receipt' ? 'active' : '' %>">Admission
                                Receipt</a>
                            <% } %>

                </div>
            </div>

            <% if (data.admPortalStatus.isPart2Active) { %>
             <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle <%= data.activeTab === 'Part 2' ? 'active' : '' %>"
                    data-bs-toggle="dropdown"><i class="fa-solid fa-file-lines me-2"></i>Part 2</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/bca-2-<%= data.existingStudent?.courseSession %>/admForm"
                        class="dropdown-item <%= data.activeTabList === 'Part 2 Adm Form' ? 'active' : '' %>">Admission
                        Form</a>

                    <% const form2 = data.existingStudent.part2AdmForm; %>
                        <% if (form2 && form2.isPaid) { %>
                            <a href="/bca-2-<%= data.existingStudent?.courseSession %>/admFormCopy"
                                class="dropdown-item <%= data.activeTabList === 'Part 2 Adm Form Copy' ? 'active' : '' %>">Admission
                                Form Copy</a>
                            <a href="/bca-2-<%= data.existingStudent?.courseSession %>/admReceipt"
                                class="dropdown-item <%= data.activeTabList === 'Part 2 Adm Receipt' ? 'active' : '' %>">Admission
                                Receipt</a>
                            <% } %>

                </div>
            </div>
            <% } %>

            <% if (data.admPortalStatus.isPart3Active) { %>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle <%= data.activeTab === 'Part 3' ? 'active' : '' %>"
                    data-bs-toggle="dropdown"><i class="fa-solid fa-file-lines me-2"></i>Part 3</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/bca-3-<%= data.existingStudent?.courseSession %>/admForm"
                        class="dropdown-item <%= data.activeTabList === 'Part 3 Adm Form' ? 'active' : '' %>">Admission
                        Form</a>

                    <% const form3 = data.existingStudent.part3AdmForm; %>
                        <% if (form3 && form3.isPaid) { %>
                            <a href="/bca-3-<%= data.existingStudent?.courseSession %>/admFormCopy"
                                class="dropdown-item <%= data.activeTabList === 'Part 3 Adm Form Copy' ? 'active' : '' %>">Admission
                                Form Copy</a>
                            <a href="/bca-3-<%= data.existingStudent?.courseSession %>/admReceipt"
                                class="dropdown-item <%= data.activeTabList === 'Part 3 Adm Receipt' ? 'active' : '' %>">Admission
                                Receipt</a>
                            <% } %>

                </div>
            </div>
            <% } %>

            <div class="nav-item dropdown">
                <a href="/vocational-student/logout" class="nav-link"><i class="fa-solid fa-sign-out me-2"></i>Logout</a>
            </div>
        </div>
    </nav>
</div>