<%- include('./partials/header.ejs')%>


    <!-- Sidebar Start -->
    <%- include('./partials/adminSidebar.ejs')%>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/navbar.ejs')%>
                <!-- Navbar End -->

                <% if (locals.formAlert) { %>
                    <div class="col-sm-12 col-xl-12 pt-3 px-4">
                    <div id="submitPopUp">
                        <div class="col-12 col-xl-12 alert alert-danger" role="alert">
                            <%= formAlert %>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="col-sm-12 col-xl-12 pt-4 px-4 d-md-flex gap-4 justify-content-between">
                    <div class="bg-light rounded h-100 p-4 mb-2 flex-grow-1">
                        <h6 class="mb-4">Find Student</h6>
                        <form action="/findStuInAdmForm" method="post">
                            <div class="row mb-3">
                                <label for="findStuName" class="col-sm-3 col-md-4 col-form-label">Student Name :</label>
                                <div class="col-sm-6 col-md-6">
                                    <input type="text" class="form-control" id="findStuName" name="findStuName" placeholder="Student name here..">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="findStuRefNo" class="col-sm-3 col-md-4 col-form-label">Reference No :</label>
                                <div class="col-sm-6 col-md-6">
                                    <input type="number" class="form-control" id="findStuRefNo" name="findStuRefNo" placeholder="Payment Ref. no. ...">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Find Student</button>
                        </form>
                    </div>
                    
                        <div class="bg-light rounded h-100 p-4 flex-grow-1">
                            <h6 class="mb-4">Date wise Admission List</h6>
                            <form action="/datewiseAdmForm" method="post">
                                <div class="row mb-3">
                                    <label for="findAdmDateFrom" class="col-sm-3 col-md-4 col-form-label">Select date from :</label>
                                    <div class="col-sm-6 col-md-6">
                                        <input type="date" class="form-control" id="findAdmDateFrom" name="findAdmDateFrom" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="findAdmDateTo" class="col-sm-3 col-md-4 col-form-label">Select date to :</label>
                                    <div class="col-sm-6 col-md-6">
                                        <input type="date" class="form-control" id="findAdmDateTo" name="findAdmDateTo" required >
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Find Students</button>
                            </form>
                        </div>
                </div>
                

                <div class="col-sm-12 col-xl-12 pt-4 px-4">
                    <div class="bg-light rounded h-100 p-3 d-flex flex-wrap gap-2">
                        <div class="btn btn-secondary"><a class="text-light" href="/admissionFormList">Get All Students</a></div>
                        <div class="btn btn-secondary"><a class="text-light" href="/paidAdmissionFormList">Paid Students</a></div>
                        <div class="btn btn-secondary"><a class="text-light" href="/unpaidAdmissionFormList">Not paid Students</a></div>
                        <div class="btn btn-secondary"><a class="text-light" href="/genBC2Category">Gen/BC-2</a></div>

                        <div class="btn btn-secondary"><a class="text-light" href="/bc1SCSTCategory">BC-1/SC/ST</a></div>

                        <div class="btn btn-secondary"><a class="text-light" href="/scienceStu">Science Students</a></div>

                        <div class="btn btn-secondary"><a class="text-light" href="/artsStu">Arts Students</a></div>
                    </div>
                </div>


                
                <!-- Blank Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row bg-light rounded justify-content-center m-0 p-2">
                        <section class="section">
                            <div class="row">
                                <!-- List starts Here     -->
                                <div class="col-12">
                                    <div class="bg-light rounded h-100 p-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="my-3 "><%= locals.status %> Admission List (<%= locals.noOfForms %> Forms)</h6>
                                            <div class="btn btn-success"><a class="text-light" href="/download-excel">Download Excel</a></div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">S.No.</th>
                                                        <th scope="col">Full Name</th>
                                                        <th scope="col">Father's Name</th>
                                                        <th scope="col">Roll No.</th>
                                                        <th scope="col">DOB</th>
                                                        <th scope="col">Mobile No.</th>
                                                        <th scope="col">Subject</th>
                                                        <th scope="col">Caste</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Ref. No.</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (locals.list) { %>
                                                        <% list.forEach((element, index)=> { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= index + 1%>
                                                                </th>
                                                                <td>
                                                                    <%= element.fullName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.fatherName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.rollNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.dOB%>
                                                                </td>
                                                                <td>
                                                                    <%= element.mobileNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.course%>
                                                                </td>
                                                                <td>
                                                                    <%= element.category%>
                                                                </td>

                                                                <td>₹<%= element.admFee%>
                                                                </td>
                                                                <td>
                                                                    <%= element.refNo%>
                                                                </td>
                                                            </tr>
                                                            <% }); %>
                                                                <% }else { %>
                                                                    <!-- <tr>
                                                        <td>S.No.</td>
                                                        Hi
                                                    </tr> -->
                                                                    <% } %>
                                                </tbody>
                                            </table>
                                            <% if (locals.list) { %>
                                                <% if (locals.list.length===0) { %>
                                                    <h3>Data not found ...</h3>

                                                    <% } %>
                                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                                <!-- List ends Here     -->
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Blank End -->

                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                <!-- Designed By <a href="#">Tech & Hub</a> -->
                                </br>
                                <!-- Distributed By <a class="border-bottom" href="#" target="_blank">Tech & Hub</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->





        </div>
        <!-- Content End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/chart/chart.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/waypoints/waypoints.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="../javascripts/main.js"></script>
        <script>
            const submitPopUp = document.querySelector('#submitPopUp')
            setInterval(() => {
                submitPopUp.innerHTML = ''
            }, 3000);
        </script>
        </body>

        </html>