<%- include('./partials/header.ejs') %>
<!-- Sidebar Start -->
<%- include('./partials/adminSidebar.ejs') %>
<!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/navbar.ejs') %>
            <!-- Navbar End -->

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">

                                <div class="row">
                                    <div class="col-12 col-md-10">
                                        <div class="bg-light rounded  p-4">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-4">Edit Character certificate</h6> 
                                            </div>

                                            <form action="/ccEdit/<%= locals.cc._id %>" method="post">
                                                <div class="col-md-12 mb-3">
                                                    <label for="fullName" class="form-label">Full Name <span
                                                            class="text-danger">*</span></label>
                                                    <textarea name="fullName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.cc.fullName%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="fatherName" class="form-label">Father's Name <span
                                                            class="text-danger">*</span></label>
                                                    <textarea name="fatherName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.cc.fatherName%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="motherName" class="form-label">Mother's Name <span
                                                            class="text-danger">*</span></label>
                                                    <textarea name="motherName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.cc.motherName%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="courseName" class="form-label">Course Name <span
                                                            class="text-danger">*</span></label>
                                                    <select id="courseName" class="form-select" name="courseName" required>
                                                        <option value="Intermediate" <%= locals.cc.course === 'Intermediate' ? 'selected' : '' %> >Intermediate</option>
                                                        <option value="B.A" <%= locals.cc.course === 'B.A' ? 'selected' : '' %>>B.A</option>
                                                        <option value="B.SC" <%= locals.cc.course === 'B.SC' ? 'selected' : '' %>>B.SC</option>
                                                        <option value="B.C.A" <%= locals.cc.course === 'B.C.A' ? 'selected' : '' %>>B.C.A</option>
                                                        <option value="B.B.A" <%= locals.cc.course === 'B.B.A' ? 'selected' : '' %>>B.B.A</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="session" class="form-label">Session</label>
                                                    <textarea id="session" name="session" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.cc.session%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="collegeRollNumber" class="form-label">College Roll
                                                        Number <span class="text-danger">*</span></label>
                                                    <textarea id="collegeRollNumber" name="collegeRollNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.cc.collegeRollNumber%></textarea>
                                                </div>

                                                <button type="submit" class="btn btn-warning">Update</button>

                                                </form>
                                               
                                        </div>

                                    </div>
                                </div>
            </div>

            <!-- Blank End -->


           


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            Distributed By <a href="#">Digital India</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/chart/chart.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="../javascripts/main.js"></script>

</body>

</html>