<%- include('./partials/header.ejs') %>
    <!-- Sidebar Start -->
    <%- include('./partials/recordRoomSidebar.ejs') %>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/navbar.ejs') %>
                <!-- Navbar End -->

                <% if (locals.formAlert) { %>
                    <div class="col-sm-12 col-xl-12 pt-3 px-4">
                    <div id="submitPopUp">
                        <div class="col-12 col-xl-12 alert alert-danger" role="alert">
                            <%= formAlert %>
                        </div>
                    </div>
                </div>
                <% } %>

                <!-- <div class="col-sm-12 col-xl-12 pt-4 px-4 d-md-flex gap-4 justify-content-between">
                    <div class="bg-light rounded h-100 p-4 mb-2 flex-grow-1">
                        <h6 class="mb-4">Find Student</h6>
                        <form action="/findStuInCLC" method="post">
                            <div class="row mb-3">
                                <label for="findStuName" class="col-sm-3 col-md-4 col-form-label">Student Name :</label>
                                <div class="col-sm-6 col-md-6">
                                    <input type="text" class="form-control" id="findStuName" name="findStuName" placeholder="Student name here..">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="findStuuniRoll" class="col-sm-3 col-md-4 col-form-label">University Roll No :</label>
                                <div class="col-sm-6 col-md-6">
                                    <input type="number" class="form-control" id="findStuuniRoll" name="findStuuniRoll" placeholder="University Roll no ...">
                                </div>
                            </div>
                            <% if (locals.course === 'ba') { %>
                                <input type="hidden" id="formCourse" name="formCourse" value="ba">
                            <% } else if (locals.course === 'bcom') { %>
                                <input type="hidden" id="formCourse" name="formCourse" value="bcom">
                            <% } else if (locals.course === 'bsc') { %>
                                <input type="hidden" id="formCourse" name="formCourse" value="bsc">
                            <% } else if (locals.course === 'bca') { %>
                                <input type="hidden" id="formCourse" name="formCourse" value="bca">
                            <% } else if (locals.course === 'Intermediate') { %>
                                <input type="hidden" id="formCourse" name="formCourse" value="Intermediate">
                               
                            <% } %>
                            <button type="submit" class="btn btn-primary">Find Student</button>
                        </form>
                    </div>
                </div> -->

                <!-- Blank Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row vh-100 bg-light rounded justify-content-center m-0 p-4">
                        <section class="section">
                            <div class="row">
                                <!-- List starts Here     -->
                                <div class="col-12">
                                    <div class="bg-light rounded h-100 p-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h6 class="my-3 ">
                                                <!-- CLC <%= locals.status %> List (<%= locals.noOfForms %> Forms) -->
                                                 <h3>CLC And Character section has been moved to admin panel. Please Login Admin Panel to access. <a href="/login">Click here</a></h3>
                                                 
                                            </h6>
                                        </div>
                                        <!-- <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">S.No.</th>
                                                        <th scope="col">Full Name</th>
                                                        <th scope="col">Father's Name</th>
                                                        <th scope="col">Uni. Roll No.</th>
                                                        <th scope="col">Reg. No.</th>
                                                        <th scope="col">Course</th>
                                                        <th scope="col">Session</th>
                                                        <th scope="col">CLC</th>
                                                        <th scope="col">Character</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (locals.allClc) { %>
                                                        <% allClc.reverse().forEach((element, index)=> { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= index + 1%>
                                                                </th>
                                                                <td>
                                                                    <%= element.fullName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.fatherName%>
                                                                </td>
                                                                <td>
                                                                    <%= element.uniRollNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.regNumber%>
                                                                </td>
                                                                <td>
                                                                    <%= element.course%>
                                                                </td>
                                                                <td>
                                                                    <%= element.session%>
                                                                </td>
                                                                <td>
                                                                    <% if (element.isIssued) { %>
                                                                        <a href="/download/<%= element.certificateType %>/<%= element.course %>/<%= element._id %>" class="px-4 btn btn-success w-md disabled" id="clc">CLC</a>
                                                                    <% } else { %>
                                                                        <a href="/download/<%= element.certificateType %>/<%= element.course %>/<%= element._id %>" class="px-4 btn btn-success w-md" id="clc">CLC</a>
                                                                    <% } %>
                                                                        
                                                                </td>
                                                                <td>
                                                                    <% if (element.isCharIssued) { %>
                                                                        <a href="/character/<%= element.course %>/<%= element._id %>" class="px-4 btn btn-success w-md disabled" id="character">Character</a>
                                                                    <% } else { %>
                                                                        <a href="/character/<%= element.course %>/<%= element._id %>" class="px-4 btn btn-success w-md" id="character">Character</a>
                                                                    <% } %>
                                                                        
                                                                </td>

                                                            </tr>
                                                            <% }); %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                            <% if (locals.allClc) { %>
                                                <% if (locals.allClc.length===0) { %>
                                                    <h3>CLC not found ...</h3>

                                                    <% } %>
                                                        <% } %>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- List ends Here     -->
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Blank End -->




                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                Distributed By <a href="#">Digital India</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/chart/chart.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/waypoints/waypoints.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


        <!-- Template Javascript -->
        <script src="../javascripts/main.js"></script>
        <script>
            document.getElementById('clc').addEventListener('click', function() {
              this.classList.add('disabled');
              this.setAttribute('aria-disabled', true);
              this.setAttribute('disabled', true);
            });
            document.getElementById('character').addEventListener('click', function() {
              this.classList.add('disabled');
              this.setAttribute('aria-disabled', true);
              this.setAttribute('disabled', true);
            });
        </script>
        <script>
            const submitPopUp = document.querySelector('#submitPopUp')
            setInterval(() => {
                submitPopUp.innerHTML = ''
            }, 3000);
        </script>
        </body>

        </html>