<%- include('./partials/header.ejs') %>
<!-- Sidebar Start -->
<%- include('./partials/adminSidebar.ejs') %>
<!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <%- include('./partials/navbar.ejs') %>
            <!-- Navbar End -->

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">

                                <div class="row">
                                    <div class="col-12 col-md-10">
                                        <div class="bg-light rounded  p-4">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mb-4">Edit CLC</h6> 
                                            </div>

                                            <% if (locals.appliedUser) { %>
                                                <h4 class="text-primary">CLC form is filled by you.</h4>
                                            <% } else { %>

                                            <form action="/clcEdit/<%= locals.clc._id %>" method="post">
                                                <div class="col-md-12 mb-3">
                                                    <label for="fullName" class="form-label">1. Full Name</label>
                                                    <textarea name="fullName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.fullName%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="fatherName" class="form-label">2. Father's
                                                        Name</label>
                                                    <textarea name="fatherName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.fatherName%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="motherName" class="form-label">3. Mother's
                                                        Name</label>
                                                    <textarea name="motherName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.motherName%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="aadharNumber" class="form-label">4.
                                                        AadharNumber</label>
                                                    
                                                    <textarea name="aadharNumber" rows="1"  maxlength="12" pattern="[0-9]{12}" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.aadharNumber%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="parmanentAddress" class="form-label">5.Parmanent
                                                        Address</label>
                                                    <textarea name="parmanentAddress" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.parmanentAddress%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="dOB" class="form-label">6. Date Of Birth</label>
                                                    <input name="dOB" type="date" class="form-control" value="<%= locals.clc.dOB%>">
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="course" class="form-label">7. Name of the Course
                                                        Attended</label>
                                                    <select id="course" class="form-select" name="course" required>
                                                        <option value="Intermediate" <%= locals.clc.course === 'Intermediate' ? 'selected' : '' %> >Intermediate</option>
                                                        <option value="B.A" <%= locals.clc.course === 'B.A' ? 'selected' : '' %>>B.A</option>
                                                        <option value="B.SC" <%= locals.clc.course === 'B.SC' ? 'selected' : '' %>>B.SC</option>
                                                        <option value="B.C.A" <%= locals.clc.course === 'B.C.A' ? 'selected' : '' %>>B.C.A</option>
                                                        <option value="B.B.A" <%= locals.clc.course === 'B.B.A' ? 'selected' : '' %>>B.B.A</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="session" class="form-label">8. Academic
                                                        Session</label>
                                                    <textarea name="session" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.session%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="dOAdm" class="form-label">9. Date Of
                                                        Admission</label>
                                                    <input type="date" class="form-control" id="dOAdm" name="dOAdm" value="<%= locals.clc.dOAdm%>">
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="classRollNumber" class="form-label">10. Class Roll
                                                        Number</label>
                                                    <textarea name="classRollNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.classRollNumber%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="yearOfExam" class="form-label">11. Month and Year of
                                                        Examination</label>
                                                    <textarea name="yearOfExam" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.yearOfExam%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="resultDivision" class="form-label">12. Result with
                                                        Division</label>

                                                    <select id="resultDivision" class="form-select" name="resultDivision" required>
                                                        <option value="1st" <%= locals.clc.resultDivision === '1st' ? 'selected' : '' %>>1st</option>
                                                        <option value="2nd" <%= locals.clc.resultDivision === '2nd' ? 'selected' : '' %>>2nd</option>
                                                        <option value="3rd" <%= locals.clc.resultDivision === '3rd' ? 'selected' : '' %>>3rd</option>
                                                        <option value="Pass" <%= locals.clc.resultDivision === 'Pass' ? 'selected' : '' %>>Pass</option>
                                                        <option value="Promoted" <%= locals.clc.resultDivision === 'Promoted' ? 'selected' : '' %>>Promoted</option>
                                                        <option value="Appearing" <%= locals.clc.resultDivision === 'Appearing' ? 'selected' : '' %>>Appearing</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="regNumber" class="form-label">13. Registration
                                                        Number</label>
                                                    <textarea name="regNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.regNumber%></textarea>
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="uniRollNumber" class="form-label">14. University /
                                                        BSEB Roll Number</label>
                                                    <textarea name="uniRollNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.clc.uniRollNumber%></textarea>
                                                </div>

                                                <button type="submit" class="btn btn-warning">Update</button>
                                            </form>
                                            <% } %>
                                        </div>

                                    </div>
                                </div>
            </div>

            <!-- Blank End -->


           


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            Distributed By <a href="#">Digital India</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/chart/chart.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="../javascripts/main.js"></script>

</body>

</html>