<%- include('./partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('./partials/sidebar.ejs')%>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">

            <!-- Navbar Start -->
            <%- include('./partials/navbar.ejs')%>
                <!-- Navbar End -->

                <!-- Blank Start -->
                <div class="container-fluid pt-4 px-4">
                    <% if(locals.submitted){ %>
                        <div id="submitPopUp">
                            <div class="col-12 col-md-10 alert alert-success" role="alert">
                                <%= locals.submitted %>
                            </div>
                        </div>
                        <% }%>

                            <% if(locals.alreadysubmitted){ %>
                                <div id="submitPopUp">
                                    <div class="col-12 col-md-10 alert alert-danger" role="alert">
                                        <%= locals.alreadysubmitted %>
                                    </div>
                                </div>
                                <% }%>

                                    <div class="row">
                                        <div class="col-12 col-md-10">
                                            <div class="bg-light rounded  p-4">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h6 class="mb-4">TRANSFER CERTIFICATE</h6>
                                                    <!-- <% if (locals.appliedUser) { %>

                                                    <div class="btn btn-primary"><a class="text-light" href="/receipt/<%= locals.appliedUser.course %>/<%= locals.appliedUser.appliedBy %>">Get Receipt</a></div>
                                                    
                                                <% } %> -->
                                                </div>

                                                <% if (locals.appliedUser) { %>
                                                    <h4 class="text-primary">Transfer Certificate form is filled by you.</h4>
                                                 <% } else { %>
                                                    <form action="/tc" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="col-md-12 mb-3">
                                                        <label for="fullName" class="form-label">Full Name <span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="fullName"
                                                            name="fullName" placeholder="Enter your full name"
                                                            required oninput="this.value = this.value.toUpperCase()" />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="fatherName" class="form-label">Father's Name <span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="fatherName"
                                                            name="fatherName" placeholder="Enter your father's name"
                                                            required oninput="this.value = this.value.toUpperCase()" />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="motherName" class="form-label">Mother's Name <span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="motherName"
                                                            name="motherName" placeholder="Enter your mother's name"
                                                            required oninput="this.value = this.value.toUpperCase()" />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="aadharNumber" class="form-label">Aadhar Number <span
                                                                class="text-danger">*</span></label>
                                                        <input type="number" class="form-control" id="aadharNumber"
                                                            name="aadharNumber" placeholder="Enter your aadhar number"
                                                            required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="mobileNumber" class="form-label">Mobile
                                                            Number <span class="text-danger">*</span></label>
                                                        <input type="phone" class="form-control" id="mobileNumber"
                                                            name="mobileNumber" value=<%=locals.user.mobileNumber %>
                                                        readonly required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="email" class="form-label">Email <span
                                                                class="text-danger">*</span></label>
                                                        <input type="email" class="form-control" id="email" name="email"
                                                            value=<%=locals.user.email %> oninput="this.value = this.value.toLowerCase()" readonly
                                                        required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="dOB" class="form-label">Date Of Birth :</label>
                                                        <input type="date" class="form-control" id="dOB" name="dOB" required/>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="session" class="form-label">Session</label>
                                                        <input type="text" class="form-control" id="session"
                                                            name="session"
                                                            placeholder="Enter your session. Eg. 2021-2024"
                                                            required value="2021-2024"/>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="course" class="form-label">Course <span
                                                                class="text-danger">*</span></label>
                                                        <select id="course" class="form-select" name="course"
                                                            onchange="updateCourseNameOption()" required>
                                                            <option>Select Course</option>
                                                            <option value="Intermediate">Intermediate</option>
                                                            <option value="Regular">Regular</option>
                                                            <option value="Vocational">Vocational</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="courseName" class="form-label">Course Name <span
                                                                class="text-danger">*</span></label>
                                                        <select id="courseName" class="form-select" name="courseName" required>
                                                            <option value="I.A">I.A</option>
                                                            <option value="I.Sc">I.Sc</option>
                                                            <option value="B.A">B.A</option>
                                                            <option value="B.Sc">B.Sc</option>
                                                            <option value="BCA">BCA</option>
                                                            <option value="BBA">BBA</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-12 mb-3" id="honoursNameContainer">
                                                        <label for="honoursName" class="form-label">Honours Name</label>
                                                        <input type="text" class="form-control" id="honoursName"
                                                            name="honoursName" oninput="this.value = this.value.toUpperCase()"
                                                            placeholder="Enter your honours subject" />
                                                    </div>

                                                    <div class="col-md-12 mb-3" id="honoursNameContainer">
                                                        <label for="collegeClass" class="form-label">College Class <span
                                                            class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="collegeClass"
                                                            name="collegeClass" placeholder="Enter your college class. Eg. UG Reg Part 3" />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="lastPassedClass" class="form-label">Last Passed Class <span
                                                            class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="lastPassedClass"
                                                            name="lastPassedClass" placeholder="Enter your last passed class. Eg. UG Reg Part 2" />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="collegeRollNumber" class="form-label">College Roll
                                                            Number <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="collegeRollNumber"
                                                            name="collegeRollNumber"
                                                            placeholder="Enter your college roll no." oninput="this.value = this.value.toUpperCase()" required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="collegeFrom" class="form-label">College Joining Year From <span class="text-danger">*</span></label>
                                                        <input type="number" class="form-control" id="collegeFrom"
                                                            name="collegeFrom"
                                                            placeholder="Enter your college joining year From" required />
                                                    </div>

                                                    <div class="col-md-12 mb-3">
                                                        <label for="collegeTo" class="form-label">College Transfer Year To <span class="text-danger">*</span></label>
                                                        <input type="number" class="form-control" id="collegeTo"
                                                            name="collegeTo"
                                                            placeholder="Enter your college transfer year To" required />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="marksheetPhoto" class="form-label">Last Exam
                                                            Marksheet <span class="text-danger">*</span></label>
                                                        <input class="form-control form-control-sm" id="marksheetPhoto"
                                                            name="TCFormPhotos" type="file" accept="Image/*"
                                                            required>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="studentPhoto" class="form-label">Student Photo <span
                                                                class="text-danger">*</span></label>
                                                        <input class="form-control form-control-sm" id="studentPhoto"
                                                            name="TCFormPhotos" type="file" accept="Image/*"
                                                            required>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="lastAdmissionReceipt" class="form-label">Last
                                                            Admission Receipt</label>
                                                        <input class="form-control form-control-sm"
                                                            id="lastAdmissionReceipt" name="TCFormPhotos"
                                                            type="file" accept="Image/*">
                                                    </div>

                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    <button type="reset" class="btn btn-secondary">Reset</button>

                                                    </form>
                                                <% } %>

                                                <% if (locals.appliedUser) { %>
                                                    <% if (locals.appliedUser.isPaid == true) { %>
                                                        <button class="btn btn-secondary my-4"><a class="text-light " href="/certificateReceipt/tc">Print Receipt</a></button>

                                                        <button class="btn btn-success my-4"><a class="text-light" href="/certificateFee/tc">Re-pay TC Fee</a></button>
                                                    <% } else { %>
                                                        <button class="btn btn-success my-4"><a class="text-light" href="/certificateFee/tc">Pay TC Fee</a></button>
                                                    <% } %>
                                                <% } %>

                                            </div>

                                        </div>
                                    </div>
                </div>

                <!-- Blank End -->


                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                Distributed By <a href="#">Digital India</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/chart/chart.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/waypoints/waypoints.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="../javascripts/main.js"></script>
        <!-- <script>
            const submitPopUp = document.querySelector('#submitPopUp')
            setInterval(() => {
                submitPopUp.innerHTML = ''
            }, 3000);
        </script> -->

        <script>
            function updateCourseNameOption() {
                const course = document.getElementById('course').value;
                const courseName = document.getElementById('courseName');
                courseName.innerHTML = '';
                const honoursNameContainer = document.getElementById('honoursNameContainer');
                const partSemContainer = document.getElementById('partSemContainer');
                const partSemNameContainer = document.getElementById('partSemNameContainer');

                let options = [];

                if (course === 'Intermediate') {
                    options = [
                        { value: 'I.A', text: 'I.A' },
                        { value: 'I.Sc', text: 'I.Sc' }
                    ];
                    innerHTMLS = '';
                    partSemInnerHTMLS = "";
                    partSemNameInnerHTMLS = '';
                } else if (course === 'Regular') {
                    options = [
                        { value: 'B.A', text: 'B.A' },
                        { value: 'B.Sc', text: 'B.Sc' }
                    ];
                } else if (course === 'Vocational') {
                    options = [
                        { value: 'BCA', text: 'BCA' },
                        { value: 'BBA', text: 'BBA' }
                    ];
                }

                options.forEach(option => {
                    const newOption = document.createElement('option');
                    newOption.value = option.value;
                    newOption.text = option.text;
                    courseName.appendChild(newOption);
                });

            }
        </script>
        </body>

        </html>