<%- include('./partials/header.ejs') %>

    <!-- Sidebar Start -->
    <%- include('./partials/adminSidebar.ejs') %>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->

            <%- include('./partials/navbar.ejs') %>
                <!-- Navbar End -->


                <!-- Container -->
                <div class="container-fluid pt-4 px-4">
                    <div class="fw-bold mb-2 fs-3">Student Details :</div>
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="bg-light rounded p-4">
                                <!-- view start -->
                                <% if (locals.foundStudent) { %>
                                    <form method="post" action="/ugRegularPart3StudentEditPost/<%= locals.foundStudent._id %>" class="row g-3">

                                        <div class="col-md-4">
                                            <label for="" class="form-label fw-bold">Student's Name</label>
                                            <textarea name="studentName" rows="1" oninput="this.value = this.value.toUpperCase()" class="form-control"><%= locals.foundStudent.studentName%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="fatherName" class="form-label fw-bold">Father's Name</label>
                                            <textarea name="fatherName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.fatherName%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="motherName" class="form-label fw-bold">Mother's Name</label>
                                            <textarea name="motherName" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.motherName%></textarea>
                                        </div>

                                        <hr>

                                        <div class="col-md-4">
                                            <label for="uniRegNumber" class="form-label fw-bold">Uni. Registration Number</label>
                                            <textarea name="uniRegNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.uniRegNumber%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="uniRollNumber" class="form-label fw-bold">Uni. Roll Number</label>
                                            <textarea name="uniRollNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.uniRollNumber%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="collegeRollNumber" class="form-label fw-bold">College Roll Number</label>
                                            <textarea name="collegeRollNumber" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.collegeRollNumber%></textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="course" class="form-label fw-bold">Course</label>
                                            <select id="course" class="form-select" name="course">
                                                
                                                <option value="Bachelor of Arts" <%= locals.foundStudentID.course === 'Bachelor of Arts' ? 'selected' : '' %>>Bachelor of Arts</option>

                                                <option value="Bachelor of Science" <%= locals.foundStudentID.course === 'Bachelor of Science' ? 'selected' : '' %>>Bachelor of Science</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <label for="email" class="form-label fw-bold">Email</label>
                                            <input name="email" class="form-control" oninput="this.value = this.value.toLowerCase()" value="<%= locals.foundStudent.email%>" type="email">
                                        </div>

                                        <div class="col-md-6">
                                            <label for="paper1" class="form-label fw-bold">Paper 1 / MJC-1</label>
                                            <select id="paper1" class="form-select" name="paper1">
                                                <option value="Economics" <%= locals.foundStudent.paper1 === 'Economics' ? 'selected' : '' %>>Economics</option>
                                                <option value="History" <%= locals.foundStudent.paper1 === 'History' ? 'selected' : '' %>>History</option>
                                                <option value="Political Science" <%= locals.foundStudent.paper1 === 'Political Science' ? 'selected' : '' %>>Political Science</option>
                                                <option value="Psychology" <%= locals.foundStudent.paper1 === 'Psychology' ? 'selected' : '' %>>Psychology</option>
                                                <option value="Sociology" <%= locals.foundStudent.paper1 === 'Sociology' ? 'selected' : '' %>>Sociology</option>
                                                <option value="Physics" <%= locals.foundStudent.paper1 === 'Physics' ? 'selected' : '' %>>Physics</option>
                                                <option value="Chemistry" <%= locals.foundStudent.paper1 === 'Chemistry' ? 'selected' : '' %>>Chemistry</option>
                                                <option value="Zoology" <%= locals.foundStudent.paper1 === 'Zoology' ? 'selected' : '' %>>Zoology</option>
                                                <option value="Botany" <%= locals.foundStudent.paper1 === 'Botany' ? 'selected' : '' %>>Botany</option>
                                                <option value="Mathematics" <%= locals.foundStudent.paper1 === 'Mathematics' ? 'selected' : '' %>>Mathematics</option>
                                                <option value="English" <%= locals.foundStudent.paper1 === 'English' ? 'selected' : '' %>>English</option>
                                                <option value="Hindi" <%= locals.foundStudent.paper1 === 'Hindi' ? 'selected' : '' %>>Hindi</option>
                                                <option value="Urdu" <%= locals.foundStudent.paper1 === 'Urdu' ? 'selected' : '' %>>Urdu</option>
                                                <option value="Philosophy" <%= locals.foundStudent.paper1 === 'Philosophy' ? 'selected' : '' %>>Philosophy</option>
                                            </select>
                                        </div>


                                        <div class="col-md-6">
                                            <label for="paper2" class="form-label fw-bold">Paper 2 / MIC-1</label>
                                            <select id="paper2" class="form-select" name="paper2">
                                                <option value="G.S (General Studies)" <%= locals.foundStudent.paper2 === 'G.S (General Studies)' ? 'selected' : '' %>>G.S (General Studies)</option>
                                            </select>
                                        </div>

                                        <hr>

                                        <div class="col-md-4">
                                            <label for="dOB" class="form-label fw-bold">Date of Birth</label>
                                             <input name="dOB" type="date" class="form-control" value="<%= locals.foundStudent.dOB%>">
                                        </div>

                                        <div class="col-md-4">
                                            <label for="gender" class="form-label fw-bold">Gender</label>
                                            <select id="gender" class="form-select" name="gender">
                                                <option value="MALE" <%= locals.foundStudent.gender === 'MALE' ? 'selected' : '' %>>MALE</option>
                                                <option value="FEMALE" <%= locals.foundStudent.gender === 'FEMALE' ? 'selected' : '' %>>FEMALE</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="category" class="form-label fw-bold">Category</label>
                                            <select id="category" class="form-select" name="category">
                                                <option value="GENERAL" <%= locals.foundStudent.category === 'GENERAL' ? 'selected' : '' %>>GENERAL</option>
                                                <option value="BC-2" <%= locals.foundStudent.category === 'BC-2' ? 'selected' : '' %>>BC-2</option>
                                                <option value="BC-1" <%= locals.foundStudent.category === 'BC-1' ? 'selected' : '' %>>BC-1</option>
                                                <option value="SC" <%= locals.foundStudent.category === 'SC' ? 'selected' : '' %>>SC</option>
                                                <option value="ST" <%= locals.foundStudent.category === 'ST' ? 'selected' : '' %>>ST</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="religion" class="form-label fw-bold">Religion</label>
                                            <select id="religion" class="form-select" name="religion">
                                                <option value="HINDU" <%= locals.foundStudent.religion === 'HINDU' ? 'selected' : '' %>>HINDU</option>
                                                <option value="MUSLIM" <%= locals.foundStudent.religion === 'MUSLIM' ? 'selected' : '' %>>MUSLIM</option>
                                                <option value="SIKH" <%= locals.foundStudent.religion === 'SIKH' ? 'selected' : '' %>>SIKH</option>
                                                <option value="CHRISTIAN" <%= locals.foundStudent.religion === 'CHRISTIAN' ? 'selected' : '' %>>CHRISTIAN</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="bloodGroup" class="form-label fw-bold">Blood Group</label>
                                            <textarea name="bloodGroup" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.bloodGroup%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="physicallyChallenged" class="form-label fw-bold">Physically Challenged</label>
                                            <select id="physicallyChallenged" class="form-select" name="physicallyChallenged">
                                                <option value="NO" <%= locals.foundStudent.physicallyChallenged === 'NO' ? 'selected' : '' %>>NO</option>
                                                <option value="YES" <%= locals.foundStudent.physicallyChallenged === 'YES' ? 'selected' : '' %>>YES</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="maritalStatus" class="form-label fw-bold">Marital Status</label>
                                            <select id="maritalStatus" class="form-select" name="maritalStatus">
                                                <option value="UNMARRIED" <%= locals.foundStudent.maritalStatus === 'UNMARRIED' ? 'selected' : '' %>>UNMARRIED</option>
                                                <option value="MARRIED" <%= locals.foundStudent.maritalStatus === 'MARRIED' ? 'selected' : '' %>>MARRIED</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="aadharNumber" class="form-label fw-bold">Applicant Aadhar No</label>
                                            <input type="number" name="aadharNumber" class="form-control" value="<%= locals.foundStudent.aadharNumber%>">
                                        </div>

                                        <div class="col-md-4">
                                            <label for="mobileNumber" class="form-label fw-bold">Mobile Number</label>
                                            <input type="number" name="mobileNumber" class="form-control" value="<%= locals.foundStudent.mobileNumber%>">
                                        </div>

                                        <hr>

                                        <div class="col-md-8">
                                            <label for="address" class="form-label fw-bold">Address</label>
                                            <textarea name="address" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.address%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="district" class="form-label fw-bold">District</label>
                                            <textarea name="district" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.district%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="policeStation" class="form-label fw-bold">Police Station</label>
                                            <textarea name="policeStation" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.policeStation%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="state" class="form-label fw-bold">State</label>
                                            <textarea name="state" rows="1" class="form-control" oninput="this.value = this.value.toUpperCase()"><%= locals.foundStudent.state%></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <label for="pinCode" class="form-label fw-bold">Pin Code</label>
                                            <input type="number" name="pinCode" class="form-control" value="<%= locals.foundStudent.pinCode%>">
                                        </div>

                                        <hr>

                                        <div class="col-md-3">
                                            <label for="examResult" class="form-label fw-bold">Last Exam Result</label>
                                            <select id="examResult" class="form-select" name="examResult">
                                                <option value="1st Division" <%= locals.foundStudent.examResult === '1st Division' ? 'selected' : '' %>>1st Division</option>
                                                <option value="2nd Division" <%= locals.foundStudent.examResult === '2nd Division' ? 'selected' : '' %>>2nd Division</option>
                                                <option value="3rd Division" <%= locals.foundStudent.examResult === '3rd Division' ? 'selected' : '' %>>3rd Division</option>
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="obtMarks" class="form-label fw-bold">Last Exam Obt. Marks /
                                                Grade</label>
                                            <input type="number" name="obtMarks" class="form-control" value="<%= locals.foundStudent.obtMarks%>">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="fullMarks" class="form-label fw-bold">Last Exam Full Marks /
                                                Grade</label>
                                            <input type="number" name="fullMarks" class="form-control" value="<%= locals.foundStudent.fullMarks%>">
                                        </div>

                                        <div class="col-md-3">
                                            <label for="obtPercent" class="form-label fw-bold">Last Exam Obt Percentage</label>
                                            <textarea name="obtPercent" rows="1" class="form-control"><%= locals.foundStudent.obtPercent%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="session" class="form-label fw-bold">Session</label>
                                            <textarea name="session" rows="1" class="form-control"><%= locals.foundStudent.session%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="admissionFee" class="form-label fw-bold">Admission fee</label>
                                            <textarea name="admissionFee" rows="1" class="form-control"><%= locals.foundStudent.admissionFee%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="paymentId" class="form-label fw-bold">Payment ID</label>
                                            <textarea name="paymentId" rows="1" class="form-control"><%= locals.foundStudent.paymentId%></textarea>
                                        </div>

                                        <div class="col-md-3">
                                            <label for="receiptNo" class="form-label fw-bold">Receipt No</label>
                                            <textarea name="receiptNo" rows="1" class="form-control"><%= locals.foundStudent.receiptNo%></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="text-light mt-4 px-4 btn btn-success" type="submit">Update</button>
                                        </div>
                                    </form>
                                    <% } %>

                                        <!-- view end -->

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Sale & Revenue End -->


                <!-- Footer Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light rounded-top p-4">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-start">
                                &copy; <a href="#">Maltidhari College Naubatpur, Patna</a>, All Right Reserved.
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-end">
                                Distributed By <a href="#">Digital India</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../lib/chart/chart.min.js"></script>
        <script src="../lib/easing/easing.min.js"></script>
        <script src="../lib/waypoints/waypoints.min.js"></script>
        <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="../lib/tempusdominus/js/moment.min.js"></script>
        <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="../javascripts/main.js"></script>
        <script>
            const goBackBtn = document.querySelector('.goBackBtn')
            goBackBtn.addEventListener('click', () => {
                window.history.back()

            })
        </script>
        </body>

        </html>