<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/BCAHeader.ejs') %>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <%- include('../partials/spinner.ejs') %>
            <!-- Spinner End -->

            <!-- Sign In Start -->
            <div class="container-fluid">
                <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">

                        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                            <!-- message -->
                            <%- include("../partials/flashMessage.ejs") %>
                                <div class="d-flex flex-column gap-3 mb-3">
                                    <img class="mb-0" src="/images/logomdcollege.png" alt="MD College"
                                        style="width: 100%;">

                                    <h3 class="text-primary">Vocational Student Recover Password</h3>

                                </div>
                                <form action="/vocational-student/forgot-passwordPost" method="post">

                                    <div class="form mb-3">
                                        <label class="fw-bolder form-label" for="course">Course</label>
                                        <select id="course" class="form-select" name="course" required>
                                            <option value="" disabled selected>Select Course</option>
                                            <option value="bca">BCA</option>
                                        </select>
                                    </div>
                                    <div class="form mb-3">
                                        <label class="fw-bolder form-label" for="courseSession">Session</label>
                                        <select id="courseSession" class="form-select" name="courseSession" required>
                                            <option value="" disabled selected>Select Session</option>
                                            <% data.sessionArray.reverse().forEach(session=> { %>
                                                <option value="<%= session %>">
                                                    <%= session %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <div class="form mb-3">
                                        <label class="fw-bolder form-label" for="mobileNumber">Registered Mobile
                                            No.</label>
                                        <input name="mobileNumber" type="phone" class="form-control" id="mobileNumber"
                                            placeholder="Enter Registered Mobile No." required>
                                    </div>
                                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Enter</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <%- include('../partials/BCAJSLibrary.ejs') %>
</body>

</html>